<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    
    <title>Travel Destinations</title>
        <!--angular-->
    <script src="https://code.angularjs.org/1.5.8/angular.js"></script>
    <script src="https://code.angularjs.org/1.5.8/angular-route.js"></script>
    <!--site-->
    <script src="js/controller.js"></script>
    <script src="js/app.js"></script>
    <script src="js/jquery-3.1.1.js"></script>
    <script src="js/jquery.corner.js"></script>
</head>

<body ng-app='weatherApp'>
    <!-- Reference the application level controller for the title model. -->
    <div ng-controller="AppCtrl" ng-model="title">
        <div id=title>
            <h1>{{title}}</h1>
        </div>
   
        
        <div id=sort>
            <img id="ascend" src="images/ascend2.jpg"  ng-click="update('cityName', 'ascend')" />
            <img id="descend" src="images/descend2.jpg" ng-click="update('-cityName', 'descend')" />
         </div>
        
        <div id=block_container>
            <div id=sort ng-repeat="fc in forecast | orderBy:orderProp">
                <a href="#/{{fc['cityName']}}"><img id ="plane_img" src="images/plane.gif"/><label>{{fc['cityName']}}</label></a>
            </div>
        
            <div id="detail" class="corners" ng-view></div>
        </div>
    </div>
</body>
</html>
